<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>REGISTER</title>
</head>
<body style="background-color : black; color : white;">
   <div style="color : white; background-color : green; ">
        <p style="font-size : 30px;">{{mes}}</p>
   </div>
   <h1 style="font-size : 50px;">REGISTER<br>To create FOB - Account</h1>

        <div style="display : inline-block; border : 5px solid green; padding : 10px;">
            <form action="{{url_for('register')}}" method="post">
                <label style="font-size : 30px">FULL NAME</label>
                <br>
                <input type="text" name="name" style="height : 30px; width : 400px; font-size:25px;">
                <br>
                <br>
                <label style="font-size : 30px">PASSWORD</label>
                <br>
                <input type="password" name="password" style="height : 30px; width : 250px; font-size:25px;">
                <br>
                <br>
                <button type="submit" style="height : 30px; width : 100px; border : 3px solid red;">SUBMIT</button>
            </form>
            <a href="/"><button style="height : 30px; width : 100px; border : 3px solid red; margin-top : 10px;">HOME</button></a>
        </div>
    <br>


</body>
</html>