<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>REGISTER</title>
    <style>
        button:hover{
         background-color : red;
         color : white;

        }
    </style>
</head>
<body style="background-image: linear-gradient(to bottom right,black 40%,#FF9800); color : white; height: 750px;">
   <div style="color : white; margin-left: 35%;">
        <p style="font-size : 30px;">{{mes}}</p>
   </div>
   <h1 style="font-size : 50px; position : relative; top : 100px; margin-left : 24%;">REGISTER</h1>
    <br>
        <div style="display : inline-block; border : 5px solid white; padding : 10px; border-radius : 20px; height : 350px; width : 600px; position : relative;left : 10%; top : 50px;">
            <form action="{{url_for('register')}}" method="post">
                <label style="font-size : 30px">FULL NAME</label>
                <br>
                <input type="text" name="name" style="height : 30px; width : 400px; font-size:25px;" maxlength="20">
                <br>
                <br>
                <label style="font-size : 30px">EMAIL ID</label>
                <br>
                <input type="email" name="mailid" style="height : 30px; width : 400px; font-size:25px;">
                <br>
                <br>
                <label style="font-size : 30px">PASSWORD</label>
                <br>
                <input id="field" type="password" name="password" style="height : 30px; width : 250px; font-size:25px;" maxlength="20"><input type="checkbox" id="eye" onclick="toggle()">
                <br>
                <br>
                <button type="submit" style="font-weight : bold;height : 30px; width : 100px; border : 3px solid red; border-radius : 10px; transition : all 0.5s;">SUBMIT</button>
            </form>
            <a href="/"><button style="font-weight : bold;height : 30px; width : 100px; border : 3px solid red; margin-top : 10px; border-radius : 10px;transition : all 0.5s;">HOME</button></a>
        </div>
    <br>

<script>
    const checkbox = document.getElementById('eye')
    const field = document.getElementById('field')
    function toggle(){
        if(checkbox.checked){
        field.type = 'text'
        console.log(1)
        } else{
            console.log(0)
            field.type = 'password'
        }
    }
    
</script>
</body>
</html>